.tittle-detail{
    font-size: 30px;
    font-weight: bold;
    padding-top: 10px;
    margin-top: 15px;
}
.description-detail{
    font-size: 20px;
    padding-top: 80px;
}
.borders-detail{
    border-top: 1px;
    border-style: solid;
    border-color: gray;
}