.tittle-item{
    font-size: 30px;
    font-weight: bold;
    padding-bottom: 10px;
    margin-bottom: 15px;
}
.description-item{
    font-size: 20px;
    padding-top: 80px;
}
.loader-item{
    padding-top: 200px;
}
.loader-item-svg{
    height: fit-content;
    width: 100%;
}
.loader-item-text-title{
    height: 20px;
    width: 100%;
}
.loader-item-text{
    height: 10px;
    width: 100%;
}